n8n/workflows/05-outbound-missed-call-voice.json
{
  "name": "Chatty — Outbound Missed-Call Voice Dialer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatty-missed-call-voice",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "n1-webhook",
      "name": "Webhook — Twilio no-answer",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "webhookId": "chatty-missed-call-voice"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.body.CallStatus || $json.CallStatus }}",
              "rightValue": "no-answer",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "n2-gate",
      "name": "Gate — no-answer only",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = items[0].json.body || items[0].json;\nconst caller = (raw.From || raw.from || '').replace(/[^+0-9]/g, '');\nconst dialed = (raw.To || raw.to || '').replace(/[^+0-9]/g, '');\nconst orgId = raw.org_id || items[0].json.query?.org_id || null;\nif (caller.length === 0) { throw new Error('caller number missing'); }\nreturn [{ json: { caller, dialed, org_id: orgId, call_sid: raw.CallSid || raw.call_sid, received_at: new Date().toISOString() } }];"
      },
      "id": "n3-normalize",
      "name": "Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*)::int AS prior_calls, MAX(created_at) AS last_contact, (SELECT data FROM signal_events WHERE org_id=$1 AND entity_id=$2 ORDER BY created_at DESC LIMIT 1) AS last_context FROM signal_events WHERE org_id=$1 AND entity_id=$2",
        "options": {
          "queryReplacement": "={{ $json.org_id }},{{ $json.caller }}"
        }
      },
      "id": "n4-history",
      "name": "Postgres — Caller History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        860,
        200
      ],
      "credentials": {
        "postgres": {
          "name": "Chatty Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Wait ~45s so we don't feel like a robot dialing instantly.\n// Also prevents race where the caller may still be redialing the operator.\nawait new Promise(r => setTimeout(r, 45000));\nreturn items;"
      },
      "id": "n5-delay",
      "name": "Wait 45s",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.elevenlabs.io/v1/convai/phone-numbers/{{ $env.ELEVENLABS_PHONE_NUMBER_ID }}/outbound-call",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"agent_id\": \"{{ $env.ELEVENLABS_OUTBOUND_AGENT_ID }}\",\n  \"to_number\": \"{{ $('Normalize').first().json.caller }}\",\n  \"conversation_initiation_client_data\": {\n    \"dynamic_variables\": {\n      \"caller_name\": \"there\",\n      \"prior_calls\": \"{{ $('Postgres — Caller History').first().json.prior_calls || 0 }}\",\n      \"business_line\": \"{{ $('Normalize').first().json.dialed }}\",\n      \"org_id\": \"{{ $('Normalize').first().json.org_id }}\"\n    },\n    \"conversation_config_override\": {\n      \"agent\": {\n        \"first_message\": \"Hi, this is Chatty calling back from the number you just tried. Got a sec?\"\n      }\n    },\n    \"user_id\": \"{{ $('Normalize').first().json.caller }}\"\n  },\n  \"metadata\": {\n    \"direction\": \"outbound\",\n    \"org_id\": \"{{ $('Normalize').first().json.org_id }}\",\n    \"caller\": \"{{ $('Normalize').first().json.caller }}\",\n    \"dialed\": \"{{ $('Normalize').first().json.dialed }}\",\n    \"trigger\": \"missed_call_recovery\"\n  }\n}",
        "options": {}
      },
      "id": "n6-dial",
      "name": "ElevenLabs — Place Outbound Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Chatty ElevenLabs"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "signal_events"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "org_id": "={{ $('Normalize').first().json.org_id }}",
            "source_type": "elevenlabs_voice",
            "source_id": "={{ $('Normalize').first().json.call_sid }}",
            "event_type": "outbound_call_dialed",
            "entity_type": "caller",
            "entity_id": "={{ $('Normalize').first().json.caller }}",
            "data": "={{ JSON.stringify({ caller: $('Normalize').first().json.caller, dialed: $('Normalize').first().json.dialed, trigger: 'missed_call_recovery', elevenlabs_response: $json, prior_calls: $('Postgres — Caller History').first().json.prior_calls, dialed_at: new Date().toISOString() }) }}"
          }
        },
        "options": {}
      },
      "id": "n7-log",
      "name": "Postgres — Log Dial",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1520,
        200
      ],
      "credentials": {
        "postgres": {
          "name": "Chatty Postgres"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, dialed: true, caller: $('Normalize').first().json.caller }) }}",
        "options": {}
      },
      "id": "n8-respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1740,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, skipped: 'not_no_answer' }) }}",
        "options": {}
      },
      "id": "n9-skip",
      "name": "Respond — Skipped",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        640,
        400
      ]
    }
  ],
  "connections": {
    "Webhook — Twilio no-answer": {
      "main": [
        [
          {
            "node": "Gate — no-answer only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gate — no-answer only": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond — Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "node": "Postgres — Caller History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres — Caller History": {
      "main": [
        [
          {
            "node": "Wait 45s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 45s": {
      "main": [
        [
          {
            "node": "ElevenLabs — Place Outbound Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ElevenLabs — Place Outbound Call": {
      "main": [
        [
          {
            "node": "Postgres — Log Dial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres — Log Dial": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  }
}